services:
  app-dev:
    build:
      context: ./app
      target: dev
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    environment:
      - NODE_ENV=development
    restart: unless-stopped

  cloudflared-dev:
    image: cloudflare/cloudflared:2025.11.1
    command: tunnel run
    restart: unless-stopped
    depends_on:
      - app-dev
    volumes:
      - ./cloudflared/dev:/etc/cloudflared
